<h2>The sandbox</h2>

 <!--<svg height="500" width="500">
  <path class="initSecond" d="M100 100 L100 200" stroke="black" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 100 L200 100 L250 120 L400 120 L400 160" stroke="black" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 200 L400 200 L400 160" stroke="black" stroke-width="2px" fill="none"></path>


  <path class="initSecond" d="M100 300 L100 400" stroke="black" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 300 L200 300 L250 320 L400 320 L400 360" stroke="black" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 400 L400 400 L400 360" stroke="black" stroke-width="2px" fill="none"></path>

</svg>

<div #light (click)="onClick()"></div>-->

<div class="loader">
<div class="loaderOutter">
  <div class="loaderMid">
    <div class="loaderInner"></div>
  </div>
</div>
<p>PROCESSING...</p>
</div>