<h2>The sandbox</h2>

<!--<svg height="500" width="500">
  <path class="initSecond" d="M100 100 L100 200" stroke="white" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 100 L200 100 L250 120 L400 120 L400 160" stroke="white" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 200 L400 200 L400 160" stroke="white" stroke-width="2px" fill="none"></path>


  <path class="initSecond" d="M100 300 L100 400" stroke="white" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 300 L200 300 L250 320 L400 320 L400 360" stroke="white" stroke-width="2px" fill="none"></path>
  <path class="secondBox" d="M100 400 L400 400 L400 360" stroke="white" stroke-width="2px" fill="none"></path>

</svg>

<div #light (click)="onClick()"></div>

<div class="loader">
  <div class="loaderOutter">
    <div class="loaderMid">
      <div class="loaderInner"></div>
    </div>
  </div>
  <p>PROCESSING...</p>
</div>-->


<div class="map">
  <svg height="100%" width="100%" viewBox="0 0 100 100">

    <!-- Y axis -->
    <line x1="50" y1="0" x2="50" y2="100" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.5)"/>

    <line x1="49" y1="60" x2="51" y2="60" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="70" x2="51" y2="70" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="80" x2="51" y2="80" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="90" x2="51" y2="90" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="48" y1="100" x2="52" y2="100" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.3" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="40" x2="51" y2="40" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="30" x2="51" y2="30" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="20" x2="51" y2="20" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="49" y1="10" x2="51" y2="10" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="48" y1="0" x2="52" y2="0" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.3" fill="rgba(169, 255, 251, 0.5)"/>

    <!-- X axis -->
    <line x1="-100" y1="50" x2="200" y2="50" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.5)"/>

    <line x1="40" y1="49" x2="40" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="30" y1="49" x2="30" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="20" y1="49" x2="20" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="10" y1="49" x2="10" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="0" y1="48" x2="0" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>
    <line x1="-10" y1="49" x2="-10" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-20" y1="49" x2="-20" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-30" y1="49" x2="-30" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-40" y1="49" x2="-40" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-50" y1="48" x2="-50" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>
    <line x1="-60" y1="49" x2="-60" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-70" y1="49" x2="-70" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-80" y1="49" x2="-80" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-90" y1="49" x2="-90" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="-100" y1="48" x2="-100" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>
    <line x1="60" y1="49" x2="60" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="70" y1="49" x2="70" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="80" y1="49" x2="80" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="90" y1="49" x2="90" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="100" y1="48" x2="100" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>
    <line x1="110" y1="49" x2="110" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="120" y1="49" x2="120" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="130" y1="49" x2="130" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="140" y1="49" x2="140" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="150" y1="48" x2="150" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>
    <line x1="160" y1="49" x2="160" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="170" y1="49" x2="170" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="180" y1="49" x2="180" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="190" y1="49" x2="190" y2="51" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="200" y1="48" x2="200" y2="52" stroke="rgba(169, 255, 251, 0.7)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.7)"/>

    <!-- Current position point-->
    <circle cx="50" cy="50" r="0.5" stroke="none" stroke-width="0" fill="red">
    </circle>
    <circle cx="50" cy="50" r="1.1" stroke="red" stroke-width="0.2" fill="none"/>

    <!-- Galaxy center -->
    <polygon points="50,1.5 51.5,4.2 48.5,4.2" stroke="none" fill="white"/>
    <text x="39.4" y="7" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.15rem;">Galaxy</text>
    <text x="51" y="7" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.15rem;">center</text>

    <!-- Planets -->
    <g *ngFor="let current of planets">
      <circle [attr.cx.]="current.xPlaneCoord" [attr.cy.]="current.yPlaneCoord" r="0.5" stroke="none" fill="white"/>
      <circle [attr.cx.]="current.xPlaneCoord" [attr.cy.]="current.yPlaneCoord" r="0.6" [attr.stroke.]="current.heightColor" stroke-width="0.2" fill="none"/>

    </g>

    <!-- Map key-->
    <line x1="100%" y1="96%" x2="110%" y2="96%" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.4" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="100%" y1="95%" x2="100%" y2="97%" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <line x1="110%" y1="95%" x2="110%" y2="97%" stroke="rgba(169, 255, 251, 0.5)" stroke-width="0.2" fill="rgba(169, 255, 251, 0.5)"/>
    <text x="103%" y="99%" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.12rem;">1 pc</text>
    
    <defs>
        <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
          <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
        </linearGradient>
      </defs>
      <rect x="115" y="80"  width="0.8" height="15" stroke="url(#grad2)" stroke-width="2" />
      <line x1="114" y1="88" x2="118" y2="88" stroke="white" stroke-width="0.4" />
      <text x="120" y="87" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.12rem;">Galactic</text>
      <text x="120" y="90" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.12rem;">plane</text>
      <text x="120" y="80" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.12rem;">Above</text>
      <text x="120" y="97" style="font-family: 'Orbitron', sans-serif; fill: white; font-size: 0.12rem;">Below</text>
  </svg>
</div>

