h2{
    margin: auto;
    text-decoration: underline;
    text-align: center;
}

svg{
    margin-left: 38%;
    border: 1px solid black;
}

.firstBox{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

.initSecond{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

.secondBox{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear forwards;
    animation-delay: 0.25s;
}

@keyframes dash{
    to {
        stroke-dashoffset: 0;
    }
}