<header class="row navbarNav">

  <button class="nav-item d-none d-sm-block col-sm-2 navbar-toggler expandbuton" type="button" data-toggle="collapse" data-target="#navbarNav" >
    <p class="burgericon">☰</p>
  </button>

  <a class="nav-item nav-link col-12 col-sm-7 offset-sm-1 title" [routerLink]="['']"><span>Exod-PVL</span></a>
<!--
<div class="d-none d-sm-block col-sm-2">
    <img src="https://via.placeholder.com/200" alt="logo">
</div>
-->
<p class="nav-item burgericon d-none d-sm-block col-sm-2" ><span>✯</span></p>
</header>