<header class="row navbarNav">

  <button class="nav-item d-none d-sm-block col-sm-2 d-lg-none navbar-toggler expandbuton" type="button" data-toggle="collapse" data-target="#navbarNav" >
    <p class="burgericon">☰</p>
  </button>

  <a class="nav-item nav-link col-12 col-sm-7 offset-sm-1 offset-lg-2 col-lg-8 title" [routerLink]="['']"><span class="d-flex justify-content-center">Exod-PVL</span></a>
<!--
<div class="d-none d-sm-block col-sm-2">
    <img src="https://via.placeholder.com/200" alt="logo">
</div>
<div class="nav-item d-none d-sm-block col-sm-2 offset-lg-1 d-flex justify-content-center" > <img class="col-8 offset-2" src="assets/PVL.png" alt=""></div>
-->

</header>