footer {
    border-top: 2px solid white;
    background-color: rgb(15, 15, 15);
}
li a{
    color: rgb(100, 100, 100);
    font-family: 'Wallpoet',cursive;
    font-size: calc(1rem + 1.8vw);
}
li a:hover {
    color: bisque;
}
.nav{
    margin-top: 2%;
}
