<footer class="row">
    <ul class="nav">
        <li class="nav-ligne">
            <a class="nav-link" href="#">|Contact|</a>
        </li>
        <li class="nav-ligne">
            <a class="nav-link" href="#">|Legal|</a>
        </li>
        <li class="nav-ligne">
            <a class="nav-link" href="#">|FTL Drive|</a>
        </li>
        <li class="nav-ligne">
            <a class="nav-link" href="#">|Hangar7|</a>
        </li>
        <li class="nav-ligne">
            <a class="nav-link" href="#">|Hangar88|</a>
        </li>
        <li class="nav-ligne">
            <a class="nav-link" href="#">|About Us|</a>
        </li>
    </ul>
</footer>

