footer {
    border-top: 2px solid white;
    background-image: url("/assets/footer.png");
    background-size: 100% 100%;
}
li a{
    color: rgba(168, 157, 0, 0.568);
    font-family: 'Wallpoet',cursive;
    font-size: calc(1rem + 1.8vw);
}
li a:hover {
    color: bisque;
}
.nav{
    margin-top: 2%;
}
