<nav class="container menu navbar ">
    <ul class="navbar-nav flex-column col-12 burgermenu">
        <a href="" class="buttonmenu navitem">
            <span class="textmenu">Planet</span>
        </a> 
        <a href="/saucisse" class="buttonmenu navitem">
            <span class="textmenu">Species</span>
        </a> 
        <a href="" class="buttonmenu navitem">
            <span class="textmenu">Travel</span>
        </a> 
        <a href="/weather" class="buttonmenu navitem">
            <span class="textmenu">Weather</span>
        </a> 
        <a href="" class="buttonmenu navitem">
            <span class="textmenu">Services</span>
        </a> 
        <a href="" class="buttonmenu navitem">
            <span class="textmenu">Job</span> 
        </a>
    </ul>    
    </nav>