<nav class="container-fluid menu navbar ">
    <ul class="navbar-nav flex-column col-12 burgermenu">
        <a [routerLink]="['/planets']" class="buttonmenu navitem">
            <span class="textmenu">Planet</span>
        </a> 
        <a [routerLink]="[ '/menutest']"  class="buttonmenu navitem">
            <span class="textmenu">Test</span>
        </a> 
        <a [routerLink]="[ '/menutest']" class="buttonmenu navitem">
            <span class="textmenu">Travel</span>
        </a> 
        <a [routerLink]="[ '/weather']" class="buttonmenu navitem">
            <span class="textmenu">Weather</span>
        </a> 
        <a [routerLink]="[ '/services']" class="buttonmenu navitem">
            <span class="textmenu">Services</span>
        </a> 
        <a [routerLink]="['/job']" class="buttonmenu navitem">
            <span class="textmenu">Job</span> 
        </a>
    </ul>    
    </nav>