<nav class="container-fluid menu navbar ">
  <ul class="navbar-nav flex-column col-12 burgermenu">
    <li class="buttonmenu navitem"><a [routerLink]="['/planets']">
        <span class="textmenu">Planet</span>
      </a>
    </li>
    <li class="buttonmenu navitem"><a [routerLink]="[ '/travel']">
        <span class="textmenu">Travel</span>
      </a>
    </li>
    <li class="buttonmenu navitem">
      <a [routerLink]="[ '/weather']">
        <span class="textmenu">Weather</span>
      </a>
    </li>
    <li  class="buttonmenu navitem">
      <a [routerLink]="[ '/services']">
        <span class="textmenu">Services</span>
      </a>
    </li>
    <li  class="buttonmenu navitem">
      <a [routerLink]="['/job']">
        <span class="textmenu">Job</span>
      </a>
    </li>
  </ul>
</nav>
