<!-- Menu Mobile -->
<app-menu class="col-12 d-sm-none"></app-menu>

<!-- Page d'accueil classique -->
<div class="d-none d-sm-flex col row container-fluid ma main">
    <div class="col">
        <!-- Image du jour -->
        <div class="row">
            <div class="apodcont col-6 offset-1">
                <img class="apod" src="{{apod.image}}" alt="">
            </div> 
            <div class="apodcont col-5 d-flex justify-content-center row desc">
                <p class="col-12 title">{{apod.title}}</p>
                <p class="col-12 expl">{{apod.explanation}}</p>
            </div>
        </div>
        <!-- Sponsors -->
        <div class="row">
            <div class="col-11 offset-1 sponsortitle d-flex justify-content-center">
                <p>Our Partners</p>
            </div>
            <div class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/sponsor1.png" alt="">
                <p class="sponsortxt sponsor1">Eternal.inc</p>
            </div>
            <div (click)="setNews1()" class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/teslaburg.png" alt="">
                <p class="sponsortxt sponsor2">TESLA BURG</p>
            </div>
            <div (click)="setNews2()" class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/riftEngines.png" alt="">
                <p class="sponsortxt sponsor3">Rift Engines</p>
            </div>

        </div>
    </div>
    <!-- Articles desktop -->
    <div class="col-3 d-none d-lg-block ma">
        <div *ngIf="!shownews" class="articleVoid col-12 ma">
            <p class="col-12">News will apear here if anything is happening!</p>
        </div>
        <div *ngIf="news1" class="article col-12 ma">
            <p class="col-12 title">{{news1title}}</p>
            <p class="col-12 expl">{{news1}}</p>
        </div>
        <div *ngIf="news2" class="article col-12 ma">
            <p class="col-12 title">{{news2title}}</p>
            <p class="col-12 expl">{{news2}}</p>
        </div>
    </div>
</div>


