<!-- Menu Mobile -->
<app-menu class="col-12 d-sm-none"></app-menu>

<!-- Page d'accueil classique -->
<div class="d-none d-sm-flex col-sm-12 row container-fluid ma main">
    <div class="col-9 ">
        <!-- Image du jour -->
        <div class="row">
            <div class="apodcont col-6 offset-1 d-flex justify-content-center">
                <img class=" apod " src="{{apod.image}}" alt="">
            </div> 
            <div class="apodcont col-4 d-flex justify-content-center row">
                <p class="col-12 title">{{apod.title}}</p>
                <p class="col-12 expl">{{apod.explanation}}</p>
            </div>
        </div>
        <!-- Sponsors -->
        <div class="row">
            <div class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/sponsor1.png" alt="">
                <p>Sponsor1</p>
            </div>
            <div class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/sponsor1.png" alt="">
                <p>Sponsor2</p>
            </div>
                <div class="sponsorcont col-3 offset-1 d-flex justify-content-center">
                <img class="imgsponsor" src="assets/sponsor1.png" alt="">
                <p>Sponsor3</p>
            </div>

        </div>
    </div>
    <!-- Articles desktop -->
    <div class="col-3 ma">
        <div class="article col-12 ma">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus commodi harum laborum nesciunt aliquam. Quam, consequatur? </p>
        </div>
        <div class="article col-12 ma">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus commodi harum laborum nesciunt aliquam. Quam, consequatur? </p>
        </div>
    </div>
</div>


