app-menu{
    margin:0px;
    padding:0px;
}
.apodcont{
    background: rgba(35, 35, 35, 0.726);
    max-height: 500px;
    padding-bottom: 2% ;
    padding-top: 2% ;
    margin-bottom: 2%;
    margin-top: 2%;
}
.apod{
    max-height: 500px;
}
.imgsponsor{
    width: 60%
}
.sponsorcont{
    background: rgba(35, 35, 35, 0.726);
    color:white;
}
.article{
    height: 46%;
    background: rgba(35, 35, 35, 0.726);
    margin-top: 7%;
    color: white;
    margin-right:0px;
}
.ma{
    margin-right:0px;
    padding-right:0px; 
}
.title{ 
    color: white;
    font-size:1.4rem;
}
.expl{
    color: white;
    font-size: 0.8rem;
}
