.whole{
    margin:0px;
    padding:0px;
    background-image: url("/assets/background.png");
    background-size: 100% 100%;
}
.ma{
    margin: 0px;
    padding: 0px;
}
.outlet{
    min-height: 80vh;
}
.footer{
    z-index: 9;
}